DATABASE_URL="mysql://dvi_user:myDvi123!@localhost:3306/dvi_main"
PORT=4006
JWT_SECRET=Zk7qT2pL9vB3xM6sG1yR4wN8hC5dK0jF2uV7aP3rX9mL4tQ
JWT_EXPIRES_IN=7d
GOOGLE_MAPS_API_KEY=AIzaSyDcZAJhH0vswFoSbxa6h2kP6Kf5UcwiFA0
DEBUG_HOTSPOT_WRITER=1
PRISMA_LOG_QUERIES=1
ENABLE_LOG=1

# AxisRooms keys (required by guards)
AXISROOMS_API_KEY=
ADMIN_EXPORT_KEY=

# Razorpay Configuration
RAZORPAY_KEY_ID=rzp_live_f7vslr2ubjBRVW
RAZORPAY_KEY_SECRET=rGGnURlFFrUdCkAJwFEHlpJs
# RAZORPAY_KEY_ID=rzp_test_FslOLSzUShSetw
# RAZORPAY_KEY_SECRET=WO9lfXa3onyv84yAGh030A3

# HOBSE Hotel API Configuration
HOBSE_BASE_URL=https://api.hobse.com/v1/qa/htl
HOBSE_CLIENT_TOKEN=C3g8K3b1wray989DVih37od3314r6444
HOBSE_ACCESS_TOKEN=Ah825fs13pjPrsoDvIH0016vb1098
HOBSE_PRODUCT_TOKEN=PbsDCcxq81gfo001DVih148eF0retT72
#
## Booking Partner info (from your API examples)
HOBSE_PARTNER_TYPE=TA
HOBSE_PARTNER_ID=4feaadb2c2277ce0
HOBSE_PARTNER_TYPE_ID=4
HOBSE_PRICE_OWNER_TYPE=2
HOBSE_TARIFF_MODE=B2B
HOBSE_CHANNEL_NAME=DVI