-- CreateTable
CREATE TABLE `dvi_stored_locations` (
    `location_ID` BIGINT NOT NULL AUTO_INCREMENT,
    `source_location` LONGTEXT NOT NULL,
    `source_location_lattitude` LONGTEXT NOT NULL,
    `source_location_longitude` LONGTEXT NOT NULL,
    `source_location_city` LONGTEXT NOT NULL,
    `source_location_state` LONGTEXT NULL,
    `destination_location` LONGTEXT NOT NULL,
    `destination_location_lattitude` LONGTEXT NOT NULL,
    `destination_location_longitude` LONGTEXT NOT NULL,
    `destination_location_city` LONGTEXT NOT NULL,
    `destination_location_state` LONGTEXT NULL,
    `distance` DOUBLE NOT NULL DEFAULT 0,
    `duration` VARCHAR(100) NULL,
    `location_description` TEXT NULL,
    `created_from` INTEGER NOT NULL DEFAULT 0,
    `createdby` BIGINT NOT NULL DEFAULT 0,
    `createdon` DATETIME(0) NULL,
    `updatedon` DATETIME(0) NULL,
    `status` INTEGER NOT NULL DEFAULT 0,
    `deleted` INTEGER NOT NULL DEFAULT 0,

    INDEX `idx_dvi_stored_locations_created_from`(`created_from`),
    INDEX `idx_dvi_stored_locations_createdby`(`createdby`),
    INDEX `idx_dvi_stored_locations_createdon`(`createdon`),
    INDEX `idx_dvi_stored_locations_deleted`(`deleted`),
    INDEX `idx_dvi_stored_locations_destination_location`(`destination_location`(768)),
    INDEX `idx_dvi_stored_locations_destination_location_city`(`destination_location_city`(768)),
    INDEX `idx_dvi_stored_locations_destination_location_state`(`destination_location_state`(768)),
    INDEX `idx_dvi_stored_locations_distance`(`distance`),
    INDEX `idx_dvi_stored_locations_duration`(`duration`),
    INDEX `idx_dvi_stored_locations_location_description`(`location_description`(768)),
    INDEX `idx_dvi_stored_locations_source_location`(`source_location`(768)),
    INDEX `idx_dvi_stored_locations_source_location_city`(`source_location_city`(768)),
    INDEX `idx_dvi_stored_locations_source_location_state`(`source_location_state`(768)),
    INDEX `idx_dvi_stored_locations_status`(`status`),
    INDEX `idx_dvi_stored_locations_updatedon`(`updatedon`),
    INDEX `idx_loc_deleted_status`(`deleted`, `status`, `location_ID`),
    INDEX `idx_main_destination_location`(`destination_location`(768)),
    INDEX `idx_main_source_location`(`source_location`(768)),
    INDEX `idx_stored_locations_deleted`(`deleted`),
    INDEX `idx_stored_locations_status`(`status`),
    INDEX `source_location_2`(`source_location`(768)),
    INDEX `idx_location_lookup_composite`(`deleted`, `status`, `source_location`(255), `destination_location`(255)),
    INDEX `idx_dvi_stored_locations_destination_location_lattitude`(`destination_location_lattitude`(768)),
    INDEX `idx_dvi_stored_locations_destination_location_longitude`(`destination_location_longitude`(768)),
    INDEX `idx_dvi_stored_locations_source_location_lattitude`(`source_location_lattitude`(768)),
    INDEX `idx_dvi_stored_locations_source_location_longitude`(`source_location_longitude`(768)),
    PRIMARY KEY (`location_ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `dvi_tempcsv` (
    `temp_id` INTEGER NOT NULL AUTO_INCREMENT,
    `csvtype` INTEGER NOT NULL DEFAULT 0,
    `sessionID` TEXT NULL,
    `field1` TEXT NULL,
    `field2` TEXT NULL,
    `field3` TEXT NULL,
    `field4` TEXT NULL,
    `field5` TEXT NULL,
    `field6` TEXT NULL,
    `field7` TEXT NULL,
    `field8` TEXT NULL,
    `field9` TEXT NULL,
    `field10` TEXT NULL,
    `field11` TEXT NULL,
    `field12` TEXT NULL,
    `field13` TEXT NULL,
    `field14` TEXT NULL,
    `field15` TEXT NULL,
    `field16` TEXT NULL,
    `field17` TEXT NULL,
    `field18` TEXT NULL,
    `field19` TEXT NULL,
    `field20` TEXT NULL,
    `field21` TEXT NULL,
    `field22` TEXT NULL,
    `field23` TEXT NULL,
    `field24` TEXT NULL,
    `field25` TEXT NULL,
    `field26` TEXT NULL,
    `field27` TEXT NULL,
    `field28` TEXT NULL,
    `field29` TEXT NULL,
    `field30` TEXT NULL,
    `field31` TEXT NULL,
    `field32` TEXT NULL,
    `field33` TEXT NULL,
    `field34` TEXT NULL,
    `field35` TEXT NULL,
    `field36` TEXT NULL,
    `field37` TEXT NULL,
    `field38` TEXT NULL,
    `field39` TEXT NULL,
    `field40` TEXT NULL,
    `available` INTEGER NOT NULL DEFAULT 0,
    `status` INTEGER NOT NULL DEFAULT 0,
    `createdon` DATETIME(0) NULL,
    `updatedon` DATETIME(0) NULL,

    INDEX `idx_dvi_tempcsv_available`(`available`),
    INDEX `idx_dvi_tempcsv_createdon`(`createdon`),
    INDEX `idx_dvi_tempcsv_csvtype`(`csvtype`),
    INDEX `idx_dvi_tempcsv_field1`(`field1`(768)),
    INDEX `idx_dvi_tempcsv_field10`(`field10`(768)),
    INDEX `idx_dvi_tempcsv_field11`(`field11`(768)),
    INDEX `idx_dvi_tempcsv_field12`(`field12`(768)),
    INDEX `idx_dvi_tempcsv_field13`(`field13`(768)),
    INDEX `idx_dvi_tempcsv_field14`(`field14`(768)),
    INDEX `idx_dvi_tempcsv_field15`(`field15`(768)),
    INDEX `idx_dvi_tempcsv_field16`(`field16`(768)),
    INDEX `idx_dvi_tempcsv_field17`(`field17`(768)),
    INDEX `idx_dvi_tempcsv_field18`(`field18`(768)),
    INDEX `idx_dvi_tempcsv_field19`(`field19`(768)),
    INDEX `idx_dvi_tempcsv_field2`(`field2`(768)),
    INDEX `idx_dvi_tempcsv_field20`(`field20`(768)),
    INDEX `idx_dvi_tempcsv_field21`(`field21`(768)),
    INDEX `idx_dvi_tempcsv_field22`(`field22`(768)),
    INDEX `idx_dvi_tempcsv_field23`(`field23`(768)),
    INDEX `idx_dvi_tempcsv_field24`(`field24`(768)),
    INDEX `idx_dvi_tempcsv_field25`(`field25`(768)),
    INDEX `idx_dvi_tempcsv_field26`(`field26`(768)),
    INDEX `idx_dvi_tempcsv_field27`(`field27`(768)),
    INDEX `idx_dvi_tempcsv_field28`(`field28`(768)),
    INDEX `idx_dvi_tempcsv_field29`(`field29`(768)),
    INDEX `idx_dvi_tempcsv_field3`(`field3`(768)),
    INDEX `idx_dvi_tempcsv_field30`(`field30`(768)),
    INDEX `idx_dvi_tempcsv_field31`(`field31`(768)),
    INDEX `idx_dvi_tempcsv_field32`(`field32`(768)),
    INDEX `idx_dvi_tempcsv_field33`(`field33`(768)),
    INDEX `idx_dvi_tempcsv_field34`(`field34`(768)),
    INDEX `idx_dvi_tempcsv_field35`(`field35`(768)),
    INDEX `idx_dvi_tempcsv_field36`(`field36`(768)),
    INDEX `idx_dvi_tempcsv_field37`(`field37`(768)),
    INDEX `idx_dvi_tempcsv_field38`(`field38`(768)),
    INDEX `idx_dvi_tempcsv_field39`(`field39`(768)),
    INDEX `idx_dvi_tempcsv_field4`(`field4`(768)),
    INDEX `idx_dvi_tempcsv_field40`(`field40`(768)),
    INDEX `idx_dvi_tempcsv_field5`(`field5`(768)),
    INDEX `idx_dvi_tempcsv_field6`(`field6`(768)),
    INDEX `idx_dvi_tempcsv_field7`(`field7`(768)),
    INDEX `idx_dvi_tempcsv_field8`(`field8`(768)),
    INDEX `idx_dvi_tempcsv_field9`(`field9`(768)),
    INDEX `idx_dvi_tempcsv_sessionID`(`sessionID`(768)),
    INDEX `idx_dvi_tempcsv_status`(`status`),
    INDEX `idx_dvi_tempcsv_updatedon`(`updatedon`),
    PRIMARY KEY (`temp_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `dvi_vehicle_toll_charges` (
    `vehicle_toll_charge_ID` INTEGER NOT NULL AUTO_INCREMENT,
    `location_id` BIGINT NOT NULL DEFAULT 0,
    `vehicle_type_id` INTEGER NOT NULL DEFAULT 0,
    `toll_charge` FLOAT NOT NULL DEFAULT 0,
    `createdon` DATETIME(0) NULL,
    `updatedon` DATETIME(0) NULL,
    `createdby` INTEGER NOT NULL DEFAULT 0,
    `status` TINYINT NOT NULL DEFAULT 0,
    `deleted` TINYINT NOT NULL DEFAULT 0,

    INDEX `idx_dvi_vehicle_toll_charges_createdby`(`createdby`),
    INDEX `idx_dvi_vehicle_toll_charges_createdon`(`createdon`),
    INDEX `idx_dvi_vehicle_toll_charges_deleted`(`deleted`),
    INDEX `idx_dvi_vehicle_toll_charges_location_id`(`location_id`),
    INDEX `idx_dvi_vehicle_toll_charges_status`(`status`),
    INDEX `idx_dvi_vehicle_toll_charges_toll_charge`(`toll_charge`),
    INDEX `idx_dvi_vehicle_toll_charges_updatedon`(`updatedon`),
    INDEX `idx_dvi_vehicle_toll_charges_vehicle_type_id`(`vehicle_type_id`),
    PRIMARY KEY (`vehicle_toll_charge_ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `axisrooms_room` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `axisrooms_property_id` VARCHAR(64) NOT NULL,
    `room_id` VARCHAR(64) NOT NULL,
    `room_name` VARCHAR(255) NOT NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_axisrooms_room_property`(`axisrooms_property_id`),
    UNIQUE INDEX `uniq_axisrooms_room`(`axisrooms_property_id`, `room_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `axisrooms_rateplan` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `axisrooms_property_id` VARCHAR(64) NOT NULL,
    `room_id` VARCHAR(64) NOT NULL,
    `rateplan_id` VARCHAR(64) NOT NULL,
    `rateplan_name` VARCHAR(255) NOT NULL,
    `occupancy` JSON NOT NULL,
    `commission_perc` VARCHAR(20) NULL,
    `tax_perc` VARCHAR(20) NULL,
    `currency` VARCHAR(10) NULL,
    `created_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_axisrooms_rateplan_property`(`axisrooms_property_id`),
    INDEX `idx_axisrooms_rateplan_room`(`room_id`),
    UNIQUE INDEX `uniq_axisrooms_rateplan`(`axisrooms_property_id`, `room_id`, `rateplan_id`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `axisrooms_inventory` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `axisrooms_property_id` VARCHAR(64) NOT NULL,
    `room_id` VARCHAR(64) NOT NULL,
    `start_date` DATE NOT NULL,
    `end_date` DATE NOT NULL,
    `free` INTEGER NOT NULL,
    `received_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_axisrooms_inventory_property`(`axisrooms_property_id`),
    INDEX `idx_axisrooms_inventory_room`(`room_id`),
    INDEX `idx_axisrooms_inventory_start`(`start_date`),
    UNIQUE INDEX `uniq_axisrooms_inventory`(`axisrooms_property_id`, `room_id`, `start_date`, `end_date`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `axisrooms_rate` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `axisrooms_property_id` VARCHAR(64) NOT NULL,
    `room_id` VARCHAR(64) NOT NULL,
    `rateplan_id` VARCHAR(64) NOT NULL,
    `start_date` DATE NOT NULL,
    `end_date` DATE NOT NULL,
    `occupancy_rates` JSON NOT NULL,
    `received_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_axisrooms_rate_property`(`axisrooms_property_id`),
    INDEX `idx_axisrooms_rate_room`(`room_id`),
    INDEX `idx_axisrooms_rate_rateplan`(`rateplan_id`),
    INDEX `idx_axisrooms_rate_start`(`start_date`),
    UNIQUE INDEX `uniq_axisrooms_rate`(`axisrooms_property_id`, `room_id`, `rateplan_id`, `start_date`, `end_date`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `axisrooms_restriction` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `axisrooms_property_id` VARCHAR(64) NOT NULL,
    `room_id` VARCHAR(64) NOT NULL,
    `rateplan_id` VARCHAR(64) NOT NULL,
    `start_date` DATE NOT NULL,
    `end_date` DATE NOT NULL,
    `type` VARCHAR(50) NOT NULL,
    `value` VARCHAR(50) NOT NULL,
    `received_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_axisrooms_restriction_property`(`axisrooms_property_id`),
    INDEX `idx_axisrooms_restriction_room`(`room_id`),
    INDEX `idx_axisrooms_restriction_rateplan`(`rateplan_id`),
    INDEX `idx_axisrooms_restriction_start`(`start_date`),
    INDEX `idx_axisrooms_restriction_type`(`type`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `axisrooms_inbound_log` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `type` VARCHAR(50) NOT NULL,
    `axisrooms_property_id` VARCHAR(64) NULL,
    `room_id` VARCHAR(64) NULL,
    `rateplan_id` VARCHAR(64) NULL,
    `payload` JSON NOT NULL,
    `received_at` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `idx_axisrooms_log_type`(`type`),
    INDEX `idx_axisrooms_log_property`(`axisrooms_property_id`),
    INDEX `idx_axisrooms_log_received`(`received_at`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateIndex
CREATE INDEX `idx_hotel_axisrooms_property` ON `dvi_hotel`(`axisrooms_property_id`);

-- CreateIndex
CREATE INDEX `idx_hotel_axisrooms_enabled` ON `dvi_hotel`(`axisrooms_enabled`);

